(
    schema_version: 1,
    id: "builtin.brush.paint.basic_brush",
    display_name: "Basic Brush",

    engine_id: "paint",

    stroke: (
        strategy: SpacingDab(spacing: 0.12),
        input_filter: (stabilization: 2, pressure_filter: 0),
        pressure_response: (feel: 100.0),
        size_scene_ratio: (
            value: 0.01,
            range: (0.001, 0.2),
        ),
        size_pressure: (
            enabled: true,
            curve: [
                    (x: 0.0, y: 0.0),
                    (x: 1.0, y: 1.0),
                ],
        ),
    ),

    engine_params: {
        "composite_mode": "source_over",
        "opacity": 1.0,
        "flow": 0.8,
        "flow_pressure": (
            enabled: true,
            curve: [
                    (x: 0.0, y: 0.0),
                    (x: 1.0, y: 1.0),
                ],
        ),
        "shape": "procedural_round",
        "hardness": 0.7,
        "anti_aliasing": true,
    },

    quick_params: [
        Common(Size),
        Common(Spacing),
        Common(Stabilization),
        Engine("opacity"),
        Engine("flow"),
        Engine("anti_aliasing"),
    ],

    tags: ["paint", "basic", "pen"],
)
